.nav-links > ul > li:nth-child(4) > a::after {
  width: 100%;
}

.hero {
  padding: 0 5%;
  font-family: "Montserrat", sans-serif;
  color: #bad7e9;
  margin-bottom: 50px;
}
.hero > h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.hero > h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.hero > p {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 30px;
}
.team-container {
  padding: 0 5%;
  font-family: "Montserrat", sans-serif;
  color: #bad7e9;
}
.team > h2 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.avatar-img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 50px 0;
  margin-bottom: 0px;
}
.avatar {
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid #bad7e9;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: ease 0.2s;
}

.bot-open {
  border-bottom: 1px solid #0f4471;
}
.avatar-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.person-details {
  /* transition: ease 0.2s; */
  border-radius: 20px;
  margin-top: -1px;
  font-size: 1.5rem;
  padding: 5%;
  border: 1px solid #bad7e9;
  height: 400px;
  margin-bottom: 50px;
}
#person-1,
#person-2,
#person-3,
#person-4,
#person-5 {
  display: none;
}

.show {
  display: block !important;
}
