.nav-links > ul > li:nth-child(2) > a::after {
  width: 100%;
}
.article-body {
  margin: 0 5%;
  padding: 0;
  color: #bad7e9;
  font-family: "Monsterrat", sans-serif;
}
.back-btn {
  background-color: #0f4471;
  border: 1px solid #bad7e9;
  color: #bad7e9;
  width: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  transition: ease 0.2s;
  margin-bottom: 20px;
}
.back-btn:hover {
  background-color: #bad7e9;
  color: #0f4471;
}
.fa-arrow-left {
  line-height: 1.2;
}

.article-body-main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}
.article-body-heading {
  font-size: 2rem;
  margin-bottom: 20px;
}
.article-body-txt {
  font-size: 1.5rem;
  text-align: justify;
}

#myBtn {
  height: 50px;
  width: 50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 1.5rem;
  border: none;
  outline: none;
  border: 1px solid #bad7e9;
  background-color: #0f4471;
  color: #bad7e9;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: ease 0.2s;
}

#myBtn:hover {
  background-color: #bad7e9;
  border: 1px solid #0f4471;
  color: #0f4471;
}
