label {
  cursor: pointer;
}
.customization {
  border: 1px solid black;
  margin: auto;
}
.choice-container {
  width: 1000px;
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

.restaurant-choices {
  display: grid;
  grid-template-columns: auto auto;
}
